{% extends 'base.html.twig' %}

{% block body %}
  <div class="container mt-5 d-flex flex-column" style="gap: 1rem;">
    <h1>Cart</h1>


    {% if cartItems is empty %}
      <p>Your cart is empty.</p>
    {% else %}
        <p class="text-success">Total: ${{ total  }} + $10 (transportation) = {{ total + 10 }} </p>
        <a class="btn btn-success" style="width: 100%; max-width: 300px;" href="/order" role="button">
          Order
        </a>
        <!-- clear the cart -->
        <a class="btn btn-danger" style="width: 100%; max-width: 300px;" href="/cart/clear" role="button">
          Clear Cart
        </a> 
    <div class="row">
        {% for item in cartItems %}
          <div class="col-md-6 mb-4">
            <div class="card h-100 d-flex flex-column" style="gap: 1rem;">
              <img src="{{ item.product.imageURL }}" class="card-img-top" alt="{{ item.product.name }}">
              <div class="card-body" style="justify-content: flex-end; display: flex; flex-direction: column">
                <h5 class="card-title">{{ item.product.name }}</h5>
                <p class="card-text">{{ item.product.description }}</p>
                <p class="card-text">Price: ${{ item.product.price }}</p>
                <div class="form-group">
                  <label for="quantity{{ item.product.id }}">Quantity:</label>
                  <input type="number" class="form-control" id="quantity{{ item.product.id }}"
                         name="quantity{{ item.product.id }}" value="{{ item.quantity }}" min="1" onclick="updateQuantity(event, {{ item.product.id }})">
                </div>
                <p class="card-text text-success" id="total{{ item.product.id }}">Total: ${{ item.product.price * item.quantity }} (for {{ item.quantity }} items)</p>

                <a class="btn btn-primary" id="updateLink{{ item.product.id }}" href="/cart/update/{{ item.product.id }}/quantity/{{ item.quantity }}">
                  Update Quantity
                </a>
                <a class="btn btn-danger" href="/cart/remove/{{ item.product.id }}" role="button">
                  Remove from Cart
                </a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block javascript %}
  <script>

    function updateQuantity(event, productId) {
      var quantity = event.target.value;
      if (quantity < 1) {
        quantity = 1;
        event.target.value = quantity;
      }
      var updateLink = document.getElementById('updateLink' + productId);
      // remove the previous quantity & add the new one
      updateLink.href = updateLink.href.replace(/quantity\/\d+/, 'quantity/' + quantity);
    }
  </script>
{% endblock %}
