{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block body %}
    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.firstName, {
            label: 'First Name'
        }) }}
        {{ form_row(registrationForm.name, {
            label: 'Last Name'
        }) }}
        {{ form_row(registrationForm.phone) }}

        <ul
            class="customerAdresses"
            data-index="{{ registrationForm.customerAdresses|length > 0 ? registrationForm.customerAdresses|last.vars.name + 1 : 0 }}"
            data-prototype="{{ form_widget(registrationForm.customerAdresses.vars.prototype)|e('html_attr') }}"
        >
            {% for address in registrationForm.customerAdresses %}
                <li>
                    {{ form_errors(address) }}
                    {{ form_widget(address) }}
                </li>
            {% endfor %}
        </ul>
        <button type="button" class="add_item_link" data-collection-holder-class="customerAdresses" onclick="allowRegisterButton()">Add an address</button>

        <button type="submit" class="btn btn-primary" id="registerButton"  disabled>Register</button>
    {{ form_end(registrationForm) }}

    <script>


        // Function to check and enable/disable the register button
        function allowRegisterButton() {
            registerButton.disabled = false;
        }

        document.addEventListener('DOMContentLoaded', function () {
            // Run the checkRegisterButton function initially
            checkRegisterButton();
        });
    </script>



    <script defer>

    const addFormToCollection = (e) => {
        const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

        const item = document.createElement('li');

        item.innerHTML = collectionHolder
            .dataset
            .prototype
            .replace(
            /__name__/g,
            collectionHolder.dataset.index
            );

        collectionHolder.appendChild(item);

        collectionHolder.dataset.index++;
    };

    document
    .querySelectorAll('.add_item_link')
    .forEach(btn => {
        btn.addEventListener("click", addFormToCollection)
    });
</script>
{% endblock %}