{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="mt-4">Product Catalog</h1>
        
        <form action="{{ path('app_catalog') }}" method="get" class="mb-4">
            <div class="row">
                <div class="col-md-3">
                    <div class="mb-3">
                        <label for="category" class="form-label">Category:</label>
                        <select id="category" name="category" class="form-select">
                            <option value="">All</option>
                            {% for category in categories %}
                                <option value="{{ category.id }}" {% if app.request.query.get('category') == category.id %}selected{% endif %}>
                                    {{ category.name }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mb-3">
                        <label for="name" class="form-label">Product Name:</label>
                        <input type="text" id="name" name="name" value="{{ app.request.query.get('name') }}" class="form-control">
                    </div>
                </div>
            </div>
            
            <button type="submit" class="btn btn-primary">Apply Filters</button>
        </form>
        
        <h2>Product List</h2>
        
        {% if products is empty %}
            <p>No products found.</p>
        {% else %}
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for product in products %}
                    <div class="col">
                        <div class="card h-100 d-flex flex-column">
                            <img src="{{ product.imageURL }}" alt="{{ product.name }}" class="card-img-top">
                            <div class="card-body" style="justify-content: flex-end; display: flex; flex-direction: column">
                                <h5 class="card-title">{{ product.name }}</h5>
                                <p class="card-text">Category: {{ product.category.name }}</p>
                                <p class="card-text">Description: {{ product.description }}</p>
                                <p class="card-text">Price: ${{ product.price }}</p>
                                {% if product.available %}
                                    <a href="{{ path('add_to_cart', {'productId': product.id}) }}" class="btn btn-primary">Add to Cart</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
